.swap-info {
    width: 50%;
    display: flex;
    align-items: center;
    height: 89vh;
}

.swap-info-container {
    width: 540px;
}

#swap-title {
    font-size: 38px;
    margin-bottom: 18px;
}

#swap-title span:last-child {
    color: var(--first-color);
}

.swap-description {
    width: 450px;
    margin-bottom: 18px;
    line-height: 28px;
    font-size: 15px;
}

.swap-info-button button {
    width: 110px;
    height: 38px;
    border-radius: 3px;
    border: none;
    background-color: var(--first-color);
    cursor: pointer;
    font-weight: bold;
}

.swap-info-button button:hover {
    transition: .3s;
    opacity: .6;
}

/*Responsive */ 

@media screen and (max-width:1200px) {
    .swap-info {
        width: 100%;
        height: 50vh;
        text-align: center;
    }

    .swap-info-container{
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
    }

    .swap-description {
        width: 100%;
    }
}

@media screen and (max-width:700px) {
    .swap-info {
        height: 100vh;
    }
}